{% extends 'posts/base.html' %}

                
                    {% block post %}
                    <section style="display: block">
                    <form action="{% url 'posts_search' %}" method="get">
                    <input name="q" type="text" placeholder="Поиск...">
                    </form>
                    <select onchange="if (this.value) window.location.href = this.value">
                        <option value="">Сортировать</option>
                        <option value="{% url 'posts_sort' %}">Сортировать по популярности</option>
                        <option value="{% url 'posts_sort_by_date' %}">Показать новые</option>
                        <option value="{% url 'posts' %}">Показать самые старые</option>
                    </select>
                    <hr>
                            {% for post in object_list%}
                            <h3>
                            {% if user.is_authenticated %}
                                <a href="{% url 'view_post' post.url %}" class="editContent" >{{post.title}}</a>
                            {% else %}
                                <a class="editContent" >{{post.title}}</a>
                            {% endif %}
                            </h3>
                            <h5 style="color:grey">{{post.user}}</h5>
							<p>{{post.text | truncatechars:85 }}</p>
                            <p>Комментариев: {{ post.comments_set.count }}</p>
							
                            {% endfor %}
                </section>
{% endblock post %}


