        <footer class="editContent">
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-8 footer-right">
                        <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Разделы</h3>
                                <ul class="list-unstyled w3layouts-icons">
                                    <li>
                                        <a href="index.html" class="editContent" >Предложения</a>
                                    </li>
                                    <li>
                                        <a href="about.html" class="editContent" >Написать предложение</a>
                                    </li>
                                    <li>
                                        <a href="contact.html" class="editContent" >Контакты</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" >Связь с нами</h3>
                                <div class="contact-info">
                                    <div class="footer-address-inf my-4">
                                        <h4 class="ad-info mb-2 editContent" >Почта</h4>
                                        <p class="editContent" ><a href="mailto:kirkplat@gmail.com">kirkplat@gmail.com</a></p>
                                    </div>
                                    <div class="footer-address-inf">
                                        <h4 class="ad-info mb-2 editContent" >Расположение</h4>
                                        <p class="editContent" >Магнитогорск</p>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </footer>