<div class="main-banner bg bg1" id="home">
            <!-- header -->
            <header class="header">
                <div class="container-fluid px-lg-5">
                    <!-- nav -->
                    <nav class="py-4">
                        <div id="logo">
                            <h1> <a href="index.html" class="editContent" style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">Магнитогорск для всех</a></h1>
                        </div>

                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop">
                        <ul class="menu mt-2">
                            <li class="active"><a href="{% url 'posts'%}">Предложения</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'post_new' %}">Написать предложение</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'logout'%}?next={{request.path}}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Выход</a></li>
                            {% else %}
                            <li><a href="{% url 'login'%}?next={{request.path}}">Вход</a></li>
                            {% endif %} 
                        </ul>
                    </nav>
                    <!-- //nav -->
                </div>
            </header>
            <!-- //header -->
            <!--/banner-->
            <div class="banner-info">
                <p class="editContent descript-info" >Сайт для написания обращений к мэру города Магнитогорска</p>
            </div>
            <!--// banner-inner -->

        </div>