
            <!-- header -->
            <header id="header">
						<h1><a href="{% url 'posts'%}">Магнитогорск для всех</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a  href="#menu" class="menuToggle"><span> Меню</span></a>
									<div id="menu">
										<ul>
											<li><a href="{% url 'posts'%}">Обращения</a></li>
                                            {% if user.is_authenticated %}
											<li><a href="{% url 'post_new' %}">Написать обращение</a></li>
                                            {% endif %}
                                            {% if user.is_authenticated %}
											<li><a href="{% url 'logout'%}?next={{request.path}}">Выход</a></li>
                                            {% else %}
											<li><a href="{% url 'login'%}?next={{request.path}}">Вход</a></li>
											{% endif %} 
										</ul>
									</div>
								</li>
							</ul>
						</nav>
			</header>
